
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>BAZAR - TIENDA</title>

    <link href="~/Content/template_admin/img/admin_icon.png" rel="icon">
    <link href="~/Content/template_admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/template_admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/template_admin/css/style.css" rel="stylesheet">
    <link href="~/Content/template_admin/css/style-responsive.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 p404 centered ml-auto mr-auto">
                <img src="~/Content/template_admin/img/404.png" alt="">
                <h1>Recurso no encontrado!</h1>
                <h3>La página a la que tratas de ingresar no existe.</h3>
                <br>
                <div>
                    <h5 class="mt">Tal vez te interesaría visitar:</h5>
                    <div class="text-center">
                        <a class="btn btn-light" style="width:150px" href="~/">TIENDA</a> |  
                        <a class="btn btn-light" style="width:150px" href="~/Administrador">ADMINISTRADOR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/template_admin/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/template_admin/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

