@{
    ViewBag.Title = "Home Page";
}
<div class="owl-carousel owl-single px-0">
    <div class="site-blocks-cover overlay" style="background-image: url('../../Content/template_tienda/images/hero_bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1 class="mb-0">BA<strong class="text-primary">ZAR</strong> Abierto 24 Horas</h1>

                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-6 text-center">
                                <p>Puede realizar sus pedidos a cualquier hora del día, nosotros atenderemos su solicitudes lo más pronto.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url('../../Content/template_tienda/images/hero_bg_2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1 class="mb-0">Nuevas Promociones <strong class="text-primary">Frecuentemente</strong></h1>
                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-6 text-center">
                                <p>Revise nuestras ofertas para obtener los mismos productos a menor costo.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="site-section bg-light pb-0">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2><strong>BA</strong><stong class="text-primary">ZAR </stong><strong>OFERTAS</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 owl-carousel" id="contenedorOfertas">

                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-image overlay" style="background-image: url('./Content/template_tienda/images/hero_bg_2.jpg');" id="bannerAcceder" hidden>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7">
                <h3 class="text-white">Incia sesión</h3>
                <p class="text-white">Para estar al tanto del estado de tus pedidos.</p>
                <p class="mb-0"><a href="~/Tienda/Registro" class="btn btn-outline-white">Accedeer</a></p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/template_tienda/js/owl.carousel.min.js"></script>
<script src="~/Scripts/js/system/tienda/siteTienda.js"></script>