
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section bg-light">
    <div class="container" id="contenedorCategoria">

    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/template_tienda/js/owl.carousel.min.js"></script>
<script src="~/Scripts/js/system/tienda/siteCategoria.js"></script>